[2019-03-01 22:12] iamvasuh opened #1 "app minSdkVersion should be changed for more devices to run it"

[2019-03-01 22:13] iamvasuh commented on #1
@agawande can i work on this issue?

[2019-03-01 22:15] agawande commented on #1
So we have minimum sdk version set to match https://github.com/named-data-mobile/NFD-android as that project does not support lower.

[2019-03-01 22:26] iamvasuh commented on #1
oh yah..in the readme file

[2019-03-01 22:26] #1 closed, assigned to nobody

[2019-03-02 11:00] iamvasuh opened #2 "Adding Friends Remotely"
Currently, friends can only be made by scanning QR codes. The user should be able to search for friends and add them remotely.

[2019-03-02 11:01] iamvasuh commented on #2
@agawande  can i work on this?

[2019-03-02 18:57] iamvasuh opened #3 ""About" feature needs to be added"
information related to organization name, app version, links to forums, licence etc should be there.

[2019-03-03 00:42] agawande commented on #3
Seems useful. I guess the organization name can be: The Named-Data Networking (NDN) Project. Since we don't have a released version yet, version can come from git commit version at the time of building (not sure how to make it happen). We don't have any forums (maybe redmine can be mentioned).

Good reminder about the license - we need to put the GPLv3 (use markdown version in a file named COPYING

[2019-03-03 04:45] ayush4190 opened #4 "Ui needs to be improved"
The current UI is not at all appealing and the colour scheme is also not something which an end user may like. I would like to work on it

[2019-03-03 15:31] neel1998 opened #7 "Clicking on the keyboard "Tick key" doesnt login user into the app."
Clicking on the keyboard tick just closes the keyboard, It should the similar functionality as that of login button to enhance User experience

[2019-03-03 15:33] neel1998 opened #8 "Np-chat app logo doesnt appear properly"
The logo is not properly added to mipmap to make it compatible with all the devices.

![screenshot_20190303-210138](https://user-images.githubusercontent.com/32041242/53697508-cbfbbd00-3df7-11e9-9453-ff91c8abf919.png)

[2019-03-03 15:39] neel1998 opened #9 "The user profile picture is not properly aligned on the action bar"
The profile picture must be aligned to the left rather then at some inconsistent distance from left side
![screenshot_20190303-210650](https://user-images.githubusercontent.com/32041242/53697575-94414500-3df8-11e9-81c8-64bfa6b90213.png)

[2019-03-03 15:45] neel1998 opened #10 "No button to sign Up on login page"
There should be a button so that first time users can register

[2019-03-03 15:49] neel1998 opened #11 "No option to logout in menu"
Add option to log out in menu

[2019-03-03 15:56] neel1998 opened #12 "Add some clipart when there are no friends or new photos"
Currently the empty screen has plain text, should have some clipart as well to improvise the UI

![screenshot_20190303-212429](https://user-images.githubusercontent.com/32041242/53697794-fbf88f80-3dfa-11e9-9357-0e2dcf044fdb.png)

![screenshot_20190303-212424](https://user-images.githubusercontent.com/32041242/53697795-fbf88f80-3dfa-11e9-992d-bb13ebf82d73.png)

[2019-03-03 16:09] iamvasuh commented on #2
Sure @agawande i am working on another one

[2019-03-03 17:20] neel1998 opened #16 "in settings activity old profile pic and change button should be at the center of the screen"
Currently old profile pic and change button are aligned to top left corner which doesn't look good.

![screenshot_20190303-224918](https://user-images.githubusercontent.com/32041242/53698733-c0fc5900-3e06-11e9-8a24-79f810b47bed.png)

[2019-03-03 17:31] neel1998 opened #17 "Sign Up activity exist but not accessible and commented out"
Sign up activity should be made available so that user can make new account . @agawande  kindly review this issue. I think this needs to be implemented and i would like to work on it

[2019-03-03 17:56] #8 closed, assigned to nobody

[2019-03-03 19:07] #7 closed, assigned to nobody

[2019-03-03 20:45] iamvasuh commented on #16
i would like to work on this issue @agawande

[2019-03-03 20:46] neel1998 commented on #16
@iamvasuh  i am already working on this one. Sorry

[2019-03-03 20:47] iamvasuh commented on #16
can i work on other one ?

[2019-03-03 20:48] neel1998 commented on #16
Sorry @iamvasuh I am about to submit PRs for most the issues opened by me in an hour.

[2019-03-03 21:06] #9 closed, assigned to nobody

[2019-03-03 21:15] iamvasuh opened #21 "changing user's name option in the settings option"
as there is already an option for changing display picture when clicked on settings, there should be an option to change the name also

[2019-03-03 21:19] neel1998 opened #22 "The color of the action bar menu icon should be white to make it more visible"
Currently the menu icon is black which is not very much visible on dark purple action bar and also doenst quite match with the theme

![screenshot_20190303-221420](https://user-images.githubusercontent.com/32041242/53701952-1ac14b00-3e28-11e9-8edd-949653cd4dbc.png)

[2019-03-03 21:24] iamvasuh opened #23 "clustering of options in files activity"
when rotated, there is clustering of the menu options in files

[2019-03-03 21:26] iamvasuh opened #24 "clustering of options in friends activity on rotation"

[2019-03-03 21:39] neel1998 opened #25 "User Logging function on main thread"
Currently user logging is happening on main thread which is not good practice. There should be an Async Task for user log in. Implementing an async task will also help showing a progressbar while user is loggin in to enhance UX. @agawande @jrandallclark  kindly share your thoughts on this issue. I think we need an Async Task for log in

[2019-03-03 22:21] neel1998 opened #26 "Proposal for new App design"
Currently the theme and design of the app uses too much bright colors which doesnt look good. I suppose we should aim for minimilastic design approach. Following is the mockup of the home screen made by me. I think such design would look much better than the current one .

If the maintainers agree. I would like to change the design of he entire app to make it publishable.

@agawande  @jrandallclar

[2019-03-04 05:24] AB261 opened #27 "Changes to Wording and Alignment"
In the dashboard there is an option called see photos. I think a better word would be "Gallery" further the padding given to the profile photo on the taskbar is much different than the padding given to the dashboard images. These need to be uniform.

![screenshot_20190304-105054](https://user-images.githubusercontent.com/17261046/53712164-adcfa480-3e6b-11e9-9a53-c7d27559db03.jpg)

I would like to

[2019-03-04 05:51] neel1998 commented on #27
@AB261 The profile picture padding issue is already solved and merged..Kindly check the closed issues and PR once

[2019-03-04 05:58] jrandallclark commented on #27
"See Photos" is for photos you have received from your friends. Photos are automatically deleted a few seconds after being viewed like in Snapchat, so I don't think Gallery is a good title.

[2019-03-04 05:58] #27 closed, assigned to nobody

[2019-03-04 07:00] neel1998 opened #28 "Login page elements overlap in landscape mode"
login page elements should not overlap in landscape mode

![screenshot_20190304-122822](https://user-images.githubusercontent.com/32041242/53715898-402a7500-3e79-11e9-9236-e5318750ea92.png)

[2019-03-04 09:06] neel1998 opened #30 "Hardcoded strings used multiple times"
Hardcoded string should be replaced by strings.xml resources

[2019-03-04 16:10] Cool-fire opened #34 "[BUG] No clicklister for login button in LoginActivity"
### Describe the Bug
There is no onclicklistener for login button in Login Activity.
### Expected Behaviour
There should be a onClicklistener for login button in login activity so that users can click on button to navigate to main activity on succesfull login.

[2019-03-04 16:29] jrandallclark commented on #34
I don't understand the issue here. "onClick" is implemented for the login button in activity_login.xml and the login button works. There is no need to use an onClickListener in the actual code itself.

[2019-03-04 16:29] #34 closed, assigned to nobody

[2019-03-04 16:52] #30 closed, assigned to nobody

[2019-03-05 08:29] neel1998 commented on #26
@agawande @jrandallclark  can you please look into this issue...thanks

[2019-03-05 08:29] neel1998 commented on #25
@agawande @jrandallclark  can you please look into this issue...thanks

[2019-03-05 08:30] neel1998 commented on #17
@agawande @jrandallclark  can you please look into this issue...thanks

[2019-03-05 16:46] jrandallclark commented on #10
The current design of npChat only allows a user to have a single account. There is no need for separate sign up and log in functions at this time.

[2019-03-05 16:46] #10 closed, assigned to nobody

[2019-03-05 16:47] agawande commented on #26
Apart from more pleasing to the eyes, what are the other advantages of this minimal design? imo the white space reduces the clickable surface of the big buttons.

[2019-03-05 16:47] agawande commented on #25
Yes, this sounds nice. Definitely there is lag when logging in.

[2019-03-05 16:55] neel1998 commented on #26
@agawande  i didn't get your point exactly..Can you please elaborate?

[2019-03-05 16:56] neel1998 commented on #25
@agawande  okay..I will make the changes and file the PR

[2019-03-05 17:00] agawande commented on #21
Not sure if this is good idea, name is associated with public key. Other phones use it in their interests for the data.

[2019-03-05 17:01] #16 closed, assigned to nobody

[2019-03-05 17:06] #22 closed, assigned to nobody

[2019-03-05 17:11] jrandallclark commented on #11
We currently do not want users to be able to log out as their name is a fundamental part of how npChat communicates between devices. The user's name is associated with the account's public key and other devices use it to send and receive interests.

[2019-03-05 17:11] #11 closed, assigned to nobody

[2019-03-05 17:13] jrandallclark commented on #17
The SignUp activity is not currently part of the app. Users register their name in the initial login activity.

[2019-03-05 17:13] #17 closed, assigned to nobody

[2019-03-05 17:14] jrandallclark commented on #21
For the reasons Ashlesh stated, we are not looking to add this right now.

[2019-03-05 17:14] #21 closed, assigned to nobody

[2019-03-05 17:26] #28 closed, assigned to nobody

[2019-03-06 00:03] shiv07tiwari opened #40 "Add a Toolbar in Settings and See Photos Section"
All the activities in an App should consist of the toolbar which provides back button, informs the user about the activity name and provides menu options. We should add the toolbars in both these activities.

[2019-03-06 00:21] somenath1435 opened #41 "Add margin in activity_login.xml"
There are currently no margin between edittext and button .
Add appropriate margins.

[2019-03-06 00:55] somenath1435 opened #45 "Add some text in Display QR page"
Some text like "Scan QR Code" should be added.

[2019-03-06 00:56] shiv07tiwari opened #46 "Add a back button in all the toolbars"
During activity transition, as per the material design , we need to add back buttons in all the activities that have a parent activity.
![image](https://user-images.githubusercontent.com/38163725/53847967-b1cd0500-3fd8-11e9-8a03-d5bc878a4994.png)

[2019-03-06 01:01] shiv07tiwari opened #48 "Make a new UserProfile Section"
As we are making an app for photo sharing inspired by Snapchat, we should make a UserProfile Section, where the user can see and change the following -
- Profile Pic
- Usename
- Various Other personal details such as DOB, Gender, etc
- Password change option can be provided here

Implementing this will allow us to remove the pic from the toolbar, which looks bad and doesnt follow the material desi

[2019-03-06 01:05] shiv07tiwari opened #49 "Empty data place holder for Photos and Friends Activity"
Right now when we dont have any friends or photos, the screen just shows a text saying nothing to display, which looks bad.
Maybe we can add a placeholder to display no data. This follows the material design guidelines.
![image](https://user-images.githubusercontent.com/38163725/53848357-f86f2f00-3fd9-11e9-901d-9e1e63a0cbf3.png)
Somewhat similar to this.

[2019-03-06 01:06] shiv07tiwari commented on #49
@agawande @jrandallclark  Should I add this ?

[2019-03-06 01:06] shiv07tiwari commented on #48
@agawande @jrandallclark  Should I add this ?

[2019-03-06 01:11] shiv07tiwari commented on #46
@agawande @jrandallclark Should I add this ?

[2019-03-06 01:15] somenath1435 opened #50 "Add Exit button in activity_main"

[2019-03-06 01:17] shiv07tiwari opened #52 "Convert the HomeScreen to watch the feed of photos shared by friends"
We are making a photo sharing platform, so maybe its a nice idea to convert the home screen into a feed screen where the user can see the photos shared by friends.
We can provide other functionalities such as FriendList, Camera and Files using FAB and Bottom Navigation Bar.
![image](https://user-images.githubusercontent.com/38163725/53848767-9e6f6900-3fdb-11e9-82e3-cdbf46ad8c34.png)
Similar to tha

[2019-03-06 01:17] shiv07tiwari commented on #52
@agawande @jrandallclark Your thoughts on this ?

[2019-03-06 01:22] shiv07tiwari opened #53 "Remove reluctant casting in various places of code"
In the AndroidStudio code, we have various reluctant castings performed. This should be removed as per AndroidStudio guidelines, because it is useless and decreases coding standards.

[2019-03-06 01:25] somenath1435 opened #54 "Make the text centered in NoContentActivity"

[2019-03-06 01:34] somenath1435 opened #57 "Grammatical mistake in Readme"
Currently written: "A username"
Corrected : "An username"
"A" should be replaced with "An"

[2019-03-06 01:46] somenath1435 opened #59 "Remove Hardcoded String in toolbar.xml"

[2019-03-06 02:44] jrandallclark commented on #57
"A username" is correct.

[2019-03-06 02:44] #57 closed, assigned to nobody

[2019-03-06 02:48] #54 closed, assigned to nobody

[2019-03-06 03:02] jrandallclark commented on #46
Activities should not have back buttons as the Android OS already provides one. Ref: https://developer.android.com/training/implementing-navigation/temporal

[2019-03-06 03:02] #46 closed, assigned to nobody

[2019-03-06 03:11] jrandallclark commented on #52
I think this is a good idea, but we may need to wait until the current implementation is bug free first.

[2019-03-06 03:11] #50 closed, assigned to nobody

[2019-03-06 03:13] jrandallclark commented on #49
This is a good idea, but the app's current design is just a placeholder, so any major changes are probably not worth your time.

[2019-03-06 06:35] neel1998 commented on #25
@agawande  @jrandallclark  I have made the PR to make the login function async. However there is still some lag when logging in. Which i assume is caused by the Filemanager class, which creates directories and files when logging in. I don't see any advantage of creating so many files. Cant't we store all the data in shred preferences. That would be fast and also better in code design aspects then

[2019-03-06 12:06] shiv07tiwari commented on #49
@jrandallclark Yes, so basically I guess adding the place holders right now is a good idea so as to make a proper place holder app, and then start working on the actual concept.
Shall I start ?

[2019-03-06 12:06] shiv07tiwari commented on #52
@jrandallclark Sure. I will do this as soon as we are ready with full implementation.

[2019-03-06 14:12] HemanthReddy99 opened #62 "Feedback - for every user to suggest changes to the developers"
I believe every user would like to review and suggest further improvements in the app, hence making it vital for them to contact the developers.
The feedback option can help with this.
I've already got everything ready to submit a pull request, just waiting for your opinions.
@agawande @jrandallclark please, look into this.
Thanks.

[2019-03-06 16:10] jrandallclark commented on #62
I am not sure this is a standard feature of Android apps, especially one being created for research purposes.

[2019-03-06 16:10] #62 closed, assigned to nobody

[2019-03-06 16:24] jrandallclark commented on #25
I can see the benefits of replacing the username and friends' usernames files by using SharedPreferences, but don't see what else we would use it for.

Additionally, the login page is really a registration page and is only used the first time a user opens the app, so a small bit of lag while we initially set things up isn't a dealbreaker for me.

[2019-03-06 16:34] jrandallclark commented on #48
For now, users have no way of accessing each other's profiles, so this would not serve a purpose for the time being. This might be something we will look into later.

I'm curious as to why you think the picture in the toolbar looks bad and where in Google's material design guidelines it recommends against having it. Both Snapchat and Twitter include the user's profile picture in their top toolbar.

[2019-03-06 16:40] shiv07tiwari commented on #48
@jrandallclark Its not for others to view someone else's profile, but for the user itself to change the password, username and profile picture.

I just think its not a good idea to place the pic in toolbar. It doesn't look good in my opinion. I also never saw such design in any of the designing courses, thus thought it isn't as per the conventional way.

[2019-03-06 16:46] jrandallclark commented on #53
Good catch. I had noticed this, too. I will test your changes later today to ensure there wasn't a reason the code was written this way before.

[2019-03-06 16:50] shiv07tiwari commented on #53
@jrandallclark Okay Thanks.

[2019-03-06 16:54] jrandallclark commented on #48
Ok. I will look into whether or not we should keep the profile picture in the toolbar, but we will keep it for now.

As for the username and password, the app does not support changing either of those. The user's name is a fundamental part how npChat works. (See https://github.com/named-data-mobile/ndn-photo-app/pull/19 & https://github.com/named-data-mobile/ndn-photo-app/issues/21) Because the us

[2019-03-06 16:55] neel1998 commented on #25
@jrandallclark  it is not just about login where shared preferences will be used, currently to bring the friends list, remove friends , photos list and all is also done using FileManager only. I really don't find it appropriate. Even for the long term goals having shared preferences would make it really easy to handle data since , we can store and access data as JSON using tools like GSon .

I do

[2019-03-06 17:01] jrandallclark commented on #25
Ok. I will look into it further. You should create a new issue for the FileManager activity as this issue will close when I merge your pull request.

[2019-03-06 17:07] shiv07tiwari commented on #48
@jrandallclark Okay I missed the point that username is associated with the public key. Thanks.

[2019-03-06 17:08] neel1998 commented on #25
@jrandallclark  Okay, i will create new issue regarding this. Thanks

[2019-03-06 17:11] neel1998 opened #63 "Replace FileManager with Shared Preferences for better code design and ease to access data"
Currently new files are created each time user tries to add new data or access some data. Instead there should be shared preferences to handle data for better code design

(@jrandallclark  is still looking into this issue . Once mentors finalize the need for this issue I will start working on this issue)

[2019-03-06 20:20] #25 closed, assigned to neel1998

[2019-03-06 20:23] #41 closed, assigned to nobody

[2019-03-06 20:24] #53 closed, assigned to nobody

[2019-03-06 20:24] #40 closed, assigned to nobody

[2019-03-07 09:16] somenath1435 opened #64 "Center the text in ViewFriendsActivity"

[2019-03-07 09:39] somenath1435 opened #66 "Fix minor issue in toolbar"
the attribute "android:layout_height" is missing in toolbar.
Android studio is showing warnings.

[2019-03-07 10:12] deepakpsad opened #68 "Adding Location to the app"
@jrandallclark
Hi,
As one of the primary deliverables of this project is to gather feed based on User's Location.
I would like to use LiveData and FusedLocationProvider (Google's latest Location API) to save and gather location in the app.

I would also like to use Kotlin to develop this feature.

[2019-03-07 15:18] shiv07tiwari opened #69 "Warning due to missing height in toolbar landscape mode"
In include section of toolbar in landscape mode, it gives a minor issue due to missing height attribute.

[2019-03-07 15:26] shiv07tiwari opened #71 "Fix various xml warnings for better support and performance"
We have various xml warnings in our app which basically reduce the app performance or changes might improve the app performance.
Examples -
- Replace paddingLeft with paddingStart
- Add focusable with clickable
- use of hardcoded strings

[2019-03-07 15:38] shiv07tiwari opened #73 "Make the images in toolbar circular"
@jrandallclark I think making the toolbar image a circularView image will drastically improve the looks of toolbar. So if we are not removing the image from the toolbar, maybe we can work towards improving the UI. Your thoughts ?
@agawande

[2019-03-07 15:46] shiv07tiwari opened #74 "Add toolbar in Login Screen"
Similar to https://github.com/named-data-mobile/ndn-photo-app/issues/40
I am really sorry I missed this activity while reporting https://github.com/named-data-mobile/ndn-photo-app/issues/40

[2019-03-07 15:58] shiv07tiwari opened #76 "Implementation of LogIn."
@jrandallclark @agawande
I observed that we have added a listener on password edit Text for the purpose of LogIn.
Is their any particular reason for same ?
If not, we should implement the function login after the user presses the login button, instead of adding a listener in the edit text field.
Please tell me if I am missing something.

[2019-03-07 15:59] neel1998 commented on #69
I think this issue has been already solved by @somenath1435  and also made a PR. Kindly check and close this one.

[2019-03-07 16:01] neel1998 commented on #76
This has been added to enhance the user experience...When user enter the password , user can login using both keyboard enter and login button. Please close this issue

[2019-03-07 16:03] shiv07tiwari commented on #69
@neel1998 That PR misses the error in landscape mode. This issue is for landscape mode which was not at all mentioned in the PR or issue.

[2019-03-07 16:05] shiv07tiwari commented on #76
@neel1998 Okay now I understood the reason. Thanks for informing

[2019-03-07 16:06] neel1998 commented on #69
@shiv07tiwari  still both PR are making exactly same change. Check once your self. Also the height attribute is independent of portrait/landscape mode

[2019-03-07 16:07] neel1998 commented on #76
@shiv07tiwari  no problem. You can close the issue

[2019-03-07 16:07] shiv07tiwari commented on #69
@neel1998 We have entirely different xml files for 2 modes. So we need to fix the warning in both the files.

[2019-03-07 16:09] neel1998 commented on #69
@shiv07tiwari  alright I might have missed something. I will che k once myself

[2019-03-07 16:10] shiv07tiwari commented on #69
@neel1998 Okay

[2019-03-07 16:10] #76 closed, assigned to nobody

[2019-03-07 16:12] neel1998 commented on #73
@shiv07tiwari  circular image may look good. But since entire UI of the app has to be changed later. This change is not required at this stage i guess

[2019-03-07 16:12] shiv07tiwari opened #77 "Add a progress bar in Login Screen"
When a user logs in, due to implementation in AsyncTask, their is a time until when the user is redirected to MainScreen, till then the button disappears and it kinds of freezes. We should replace it with a progress bar.
![videotogif_2019 03 07_21 36 47](https://user-images.githubusercontent.com/38163725/53970948-d385d380-4121-11e9-98d2-054cf008a518.gif)

[2019-03-07 16:14] shiv07tiwari commented on #73
@neel1998 As per @jrandallclark , minor UI fixes are allowed which might persist in future.

[2019-03-07 16:15] neel1998 commented on #73
@shiv07tiwari  alrightyy..File the PR .. let maintainers take decision . Cheers!!

[2019-03-07 16:19] neel1998 opened #78 "Add option to change orientation of profile picture"
Currently user has no control over orientation of profile image. Even if the image is in landscape . Sometimes it occurs as portrait.
![screenshot_20190307-214733](https://user-images.githubusercontent.com/32041242/53971371-cfa68100-4122-11e9-9b75-a01cbed59a33.png)

I suggest to add an option so that user can change profile pic orientation

[2019-03-07 16:21] neel1998 commented on #77
@shiv07tiwari  kindly check my PR for login change. I have added the progress bar . But the lag is bcz of the file creation. I have already asked maintainers for changing the login implementation. You can close this issue

[2019-03-07 16:23] shiv07tiwari commented on #73
@neel1998 Instead of making a PR, i should first wait for the maintainers for their suggestion.

[2019-03-07 16:28] shiv07tiwari commented on #77
@neel1998 I noticed that ProgressBar is present but what I also noticed is that it is not at all visible with the current implementation, i fixed it. Kindly refer to my PR.
We will again refix if the maintainers agree to change the login implementation, but the issue is fixed for now. (It is a very minor change)

[2019-03-07 16:30] shiv07tiwari opened #80 "Make a template for new issues and PRs"
@jrandallclark @agawande I think now this project is attracting a lot of new contributors, but still we do not have any defined template for new issues and PRs. This is a basic convention followed by all the organisations.
Please allow me to add these templates.

[2019-03-07 16:33] neel1998 commented on #77
I saw your change. For temporary functionality it is fine. But it is kind of a hack . But should work:)

[2019-03-07 16:41] shiv07tiwari opened #81 "Centralise the text if no friends found"
Similar to https://github.com/named-data-mobile/ndn-photo-app/pull/56
But the above PR missed the view Friends section.

[2019-03-07 16:46] shiv07tiwari opened #83 "Add toolbar in View Friends"
Currently, toolbar is present in view friends xml file, but is not added in Java code due to which its a toolbar without user image and npChat as text.

[2019-03-07 17:15] somenath1435 commented on #81
@shiv07tiwari @jrandallclark this issue is exactly same as #64

[2019-03-07 17:16] zedlabs opened #85 "App crash on sharing image through camera"
android version: android 6.0.1
api : 23

app crashes due to inability to decode the bitmap captured, i am working on it

[2019-03-07 17:39] neel1998 commented on #63
@jrandallclark  any updates on this issue?

[2019-03-07 17:46] somenath1435 opened #87 "Add Exit alert dialog in Mainactivity"

[2019-03-07 18:00] neel1998 commented on #87
@somenath1435  @jrandallclark  is this really needed? I don't see any advantage of it in our app design. If there are chances of user accidentally pressing back button, then this could have been useful. Currently sich alert would decrease UX rather than improving

[2019-03-07 18:05] jrandallclark commented on #87
I agree. As a user, I would find this obtrusive.

[2019-03-07 18:05] #87 closed, assigned to nobody

[2019-03-07 18:05] somenath1435 commented on #87
@neel1998 @jrandallclark I think it will be useful since user should be notified that pressing back will terminate the activity.Displaying alert should help

[2019-03-07 18:07] jrandallclark commented on #85
Could you post the stack trace? Android 6.0.1 is the only version we have tested extensively so far. What device are you using as well?

[2019-03-07 18:16] zedlabs commented on #85
i was testing with a onePlus one, It worked fine when i tried it with the Mi A2(android : 9.0)

crash started here--

03-07 22:41:25.104 31836-31836/memphis.myapplication E/AndroidRuntime: FATAL EXCEPTION: main
    Process: memphis.myapplication, PID: 31836
    Theme: themes:{default=overlay:com.cyngn.hexo, iconPack:com.cyngn.hexo, fontPkg:com.cyngn.hexo, com.android.systemui=overlay:com.cyngn.hex

[2019-03-07 19:10] somenath1435 opened #89 "Update dimens.xml"

[2019-03-07 21:25] shiv07tiwari opened #91 "Toolbar image doesnt change in Settings change image"
When user changes the profile image , and when returns to the settings activity, the screen image changes but the toolbar image remains same as previous.

[2019-03-08 13:56] dhruvik1999 opened #94 "updated login activity UI."
please refer to #93

I propose to change the UI of login activity.
1. EditText of username and password field updated with round _edit_text.
2. username and password textView removed.
3. place of entire

Preview
After
![screenshot_2019-03-08-18-57-06-845_memphis myapplication](https://user-images.githubusercontent.com/32356700/54032553-fc68a000-41d7-11e9-8c93-9120aa4a99e2.png)

before
![screenshot

[2019-03-08 19:04] prajurock opened #95 "Brightness should be increased to maximum when open Display QR."

[2019-03-08 19:28] somenath1435 commented on #95
@prajurock I don't think it's necessary

[2019-03-08 19:32] prajurock commented on #95
@somenath1435 Thanks for writing. But as I see some user uses mobile in the low screen so it will enhance this. You can check for other apps(Like Paytm) they are also doing the same.

[2019-03-10 07:10] Leo5661 commented on #95
can i work on it

[2019-03-10 10:16] shivendra29 opened #97 "Addition of a launch screen"
During the fresh launch of the app, there's a delay before the onCreate() is called, at this time the placeholder UI shows a white screen. This can be replaced by a materialised launch screen for better user experience and to hide the delay.

[2019-03-10 11:48] prajurock commented on #95
I am working on this issue

[2019-03-10 15:22] vgveerain opened #98 "Tapping on Friends in FriendList should allow the user to send photo to this friend."
Apparently, the FriendList in View Friends is unresponsive and is redundant UX as it simply doesn't do anything. It should, in theory, allow the user to send a photo to a friend if the user taps on a friend. I would like to add this option. @agawande @jrandallclark, what are your opinions on this?

[2019-03-10 15:56] zedlabs commented on #98
@vgveerain currently the only way to share the images is through the camera, this is not the final UI

[2019-03-10 18:22] vgveerain commented on #98
Even when the UI is changed, the code will be relevant as it would simply be a matter of applying the onclick listener to a different view. Unless you're suggesting that the whole idea of viewing friend list is removed.

[2019-03-11 16:10] jrandallclark commented on #94
This is a better look, but as the current UI is just a placeholder until we revamp it entirely, I don't think it is worth the trouble to make major changes to individual activities.

[2019-03-11 16:15] jrandallclark commented on #95
This is a good idea as long as the device's brightness is returned to normal after they leave the screen with the QR code.

[2019-03-11 16:31] #64 closed, assigned to nobody

[2019-03-11 16:35] vedang14 opened #99 "App Crashes on Scanning QR Code in Friends Activity"
On Scanning QR code on Friends Activity app crashes immediately, I propose to add a popup for not valid referenced QR Code, and create a list( history specific) for corresponding scanned QR in a separate list view from which each one of them could be accessed and deleted if needed.
Moreover I also wish to add the flashlight and setting functions on the QR Code activity layout through use of Camera

[2019-03-11 16:38] somenath1435 opened #100 "Add Landscape mode for FriendsActivity"
The current landscape mode of this activity has issues.
Need to add separate Landscape mode.

[2019-03-11 16:40] vedang14 commented on #99
@shiv07tiwari @jrandallclark  sir, please do let me know your thoughts about it and the added functionalities as I have already successfully implemented one of them.

[2019-03-11 16:44] prajurock commented on #95
Yes. I will make PR for this

[2019-03-11 16:45] dev-ritik commented on #99
Basically, there's no check in the pattern of information decoded from any QRcode scanner in the app as of now.

[2019-03-11 16:46] prajurock commented on #100
Describe your issue clearly.

[2019-03-11 16:47] jrandallclark commented on #99
Yes, keeping the app from crashing when a non-valid QR code is scanned is something that need to be implemented.

But I don't understand what you mean be creating a history specific list for corresponding scanned QRs.

And by flashlight, do you mean the camera's flash?

[2019-03-11 16:54] vedang14 commented on #99
Ok sir, so I'll add on this functionality to prevent crash on non valid QR, and raise PR for the same.

Sir by history specific I mean that whenever we successfully scan one's QR code we should be able to save there reference(name or any other attribute) in a list accordingly in a specific STACK manner, from where we could access it again and delete it if required.

And by flashlight i mean ( Came

[2019-03-11 16:58] somenath1435 commented on #100
@jrandallclark please see the PR for details.

[2019-03-11 17:07] somenath1435 opened #102 "Change View of Files Activity"
see screenshots in PR

[2019-03-11 17:20] somenath1435 opened #104 "Button not properly visible in Settings Activity(Landscape mode)"
Define a new Landscape mode for Settings Activity.
See PR  for screenshots.

[2019-03-11 17:21] #66 closed, assigned to nobody

[2019-03-11 20:15] #89 closed, assigned to nobody

[2019-03-11 23:33] ashwinyogesh opened #106 "Camera Activity Improvements"
Hey,
I am going through the code base, here are few things that I noticed. I can work on these and provide fixes for them.

1. Start Camera: A list of other features including the current ones can be provided.
     We can provide image editing features such as
     a. Crop Image
     b. Pinch to Zoom
     c. Rotate Image

Also, After clicking the image, the back button event listener is not set. T

[2019-03-12 15:51] zedlabs opened #107 "App crash in ViewPhotosActivity"
app crashes when i try to open any image received

Log--
2019-03-12 21:16:49.746 20385-20385/memphis.myapplication E/AndroidRuntime: FATAL EXCEPTION: main
    Process: memphis.myapplication, PID: 20385
    java.lang.IndexOutOfBoundsException: Index: 1, Size: 1
        at java.util.ArrayList.get(ArrayList.java:437)
        at memphis.myapplication.ViewPhotosActivity$1.onTick(ViewPhotosActivity.java

[2019-03-12 15:56] jrandallclark commented on #107
This is something I discovered as well. It seems to be caused when images are sent back-to-back and have the same filename. The code needs to be rewritten to handle this.

[2019-03-12 16:05] jrandallclark commented on #106
All but item 5 would be great addition to npChat. The login/registration method we are using currently is how we need to keep it right now. (https://github.com/named-data-mobile/ndn-photo-app/issues/11#issuecomment-469767183)

[2019-03-12 16:06] jrandallclark commented on #107
Does this happen when you have only sent a single picture?

[2019-03-12 16:17] zedlabs commented on #107
yes, this happens on one device and on the other device first it would not even open the camera, i fixed that (#96 ), but  it still crashes in the newContentActivity

[2019-03-12 16:17] ashwinyogesh commented on #106
Sure. I will submit PR for each task as soon as I complete. Also, I was wondering If I can use any libraries?

[2019-03-12 17:21] dev-ritik commented on #107
I faced the exact same bug in **one** of my devices. Upon debugging I found that `onTick` method gets executed more than the number of photos present in the ArrayList.
To be more precise I had a single image in the list, so the maximum time was 5050 milisec but it got called twice when it had 5036 and 32 `millisUntilFinished`. So the error says,

`java.lang.IndexOutOfBoundsException: Index: 1, Siz

[2019-03-12 17:28] dhruvik1999 opened #108 "Password validation for registration."
before there is no special code for validating username and password.

rules for password validation:-

1)         The password should be less than 15 and more than 8 characters in length.
2)         The password Should not be same as username.
3)         The password should contain atleast one number.
4)         The password should contain atleast one special character.

username validation:-

1)

[2019-03-12 17:59] zedlabs commented on #107
@dev-ritik was it working fine on other devices? If so what android version were they running on?

[2019-03-12 19:01] jrandallclark commented on #108
The password the user enters is not currently used anywhere in the app and sers may never create a password in the final version. I don't think it is worth the trouble to add this right now.

[2019-03-12 19:01] #108 closed, assigned to nobody

[2019-03-12 19:11] dhruvik1999 commented on #108
I am planning to add the logout button also.
for example: If any wrong person takes our mobile then they should not able to use this application.

[2019-03-12 19:15] jrandallclark commented on #108
User logout is not currently something we can support. See more: https://github.com/named-data-mobile/ndn-photo-app/pull/19#issuecomment-469764456

[2019-03-12 19:17] jrandallclark commented on #106
Yes. You can use stable libraries as needed.

[2019-03-12 19:19] dhruvik1999 commented on #108
okay, i understand.
but still, I had done this part, if you find that correct then merge it.
pr : #110

[2019-03-12 19:30] #59 closed, assigned to nobody

[2019-03-13 04:46] dev-ritik commented on #107
Yes, its working fine on the other one(Android 7.0) but the bug appears in the device running Android 8.1.

[2019-03-13 16:07] jrandallclark commented on #107
There are some unresolved issues with Android 8.1 (See https://redmine.named-data.net/issues/4747).

@zedlabs What version of Android were you using?

[2019-03-13 16:14] #100 closed, assigned to nobody

[2019-03-13 16:20] zedlabs commented on #107
9.0 @jrandallclark

[2019-03-13 16:28] #102 closed, assigned to nobody

[2019-03-13 17:12] #104 closed, assigned to nobody

[2019-03-13 18:48] somenath1435 opened #111 "Add Communication Channels"
The proper communication channel links should be added in Readme

[2019-03-13 19:07] somenath1435 opened #113 "Add Proper Margin"
The textview and imageview overlaps in activity_main.
Proper margin should be added.

[2019-03-13 21:06] josharsh opened #116 "Does not Build: Execution failed for task ':app:lintVitalRelease"
Execution failed for task ':app:lintVitalRelease'.

     Required by:
         project :app

[2019-03-14 00:45] jrandallclark commented on #116
Can you post a more detailed log as shown here: https://stackoverflow.com/a/53669619 ?

[2019-03-14 04:33] josharsh commented on #116
Will do

Thanks

On Thu, Mar 14, 2019 at 6:15 AM Jeremy <notifications@github.com> wrote:

[2019-03-14 05:13] dhruvik1999 opened #117 "progress bar in login activity not working."
progress bar needs separate thread than UI thread.

![ezgif com-optimize](https://user-images.githubusercontent.com/32356700/54336468-298ed580-4652-11e9-91a9-3b4a43425b32.gif)

[2019-03-14 05:38] dhruvik1999 opened #118 "improve declaration and definition of UI elements for the smooth running."
for example
while the user presses the login button then login function starts the declaration of all UI elements and then start login process which is harmful to the smoothness of application.

so I propose to implement onStart() function for activity to make a more smooth activity work.

[2019-03-14 06:03] somenath1435 commented on #117
I don't think it's necessary for now

[2019-03-14 06:40] dhruvik1999 commented on #117
it is necessary because it is lagging.
![ezgif com-optimize](https://user-images.githubusercontent.com/32356700/54336422-09f7ad00-4652-11e9-93f9-56e5f8b4e00a.gif)

[2019-03-14 06:41] dhruvik1999 commented on #117
see the updated comment.
it is lagging.

[2019-03-14 08:46] zedlabs commented on #107
@jrandallclark i think this PR would fix this issue around the different Android versions.

[2019-03-14 09:06] dhruvik1999 opened #122 "Doesn't check for connection error while sharing photo."
in the MainActivity when the user wants to share a photo it will not check for connection error.
it should give an alert message if the device has some connection error and then also user want to send the photo.

[2019-03-14 10:42] dhruvik1999 opened #123 "application is not able to get photo from other application"
the user should able to share a photo from any application using  ShareActionProviders.
 our app should be shown in  ShareActionProviders activity.

our application is not shown in this list.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32356700/54350546-91094d00-4673-11e9-9c77-5385fe5be9a5.gif)

reference : https://developer.android.com/training/sharing/receive

[2019-03-14 18:12] ashwinyogesh opened #124 "ShareFiles AlertDialog Improvements"
Currently, for the request Code ->FILE_SELECT_REQUEST_CODE.
alertDialog is displayed indicating the path to the selected file. Further this can be improved by setting positiveButton(Share with Friends) and negativeButton (Cancel).

[2019-03-15 16:37] #111 closed, assigned to nobody

[2019-03-15 18:18] #113 closed, assigned to nobody

[2019-03-18 01:17] Leo5661 commented on #117
what is need of progress bar here

[2019-03-18 08:37] dhruvik1999 commented on #117
because application takes some time for the login.
So the user should know that some task is running.

[2019-03-18 09:35] dev-ritik opened #133 "Duplicate code for publishing Blob data"
Code logic to publish data is present in both `Common.java` and `FilesActivity.java` Ideally the code to process and publish data should be separated from view class(FilesActivity). This is also reflected [here](https://github.com/named-data-mobile/ndn-photo-app/blob/88c0c0cc931f597d4926d9a978eefc6357846a11/app/src/main/java/memphis/myapplication/Common.java#L25)

[2019-03-18 17:13] #91 closed, assigned to nobody

[2019-03-18 17:52] #107 closed, assigned to nobody

[2019-03-19 05:19] dev-ritik commented on #122
Just to clear things, as per the current architecture, a user need not be in a network while preparing a file to send (packetizing, caching and generating a QR image), but yes I think, we can have of a `ping test` mechanism prior to the actual transfer.

[2019-03-19 05:38] dev-ritik commented on #98
Using the FriendList to send data to a particular user will involve much more than changes in views and listeners. Issues like [this](https://redmine.named-data.net/issues/4753) needs to be handled before working on this one.

[2019-03-22 04:00] aadhitya98 opened #136 "App crashes after the Registration screen"
After cloning the app from Git, I built the gradle in android studio and executed the app in my phone. After the registration, the app kept on popping..."App keeps Closing"

I also ensured that the NDN server is running and Wifi Direct was also available.

[2019-03-22 04:16] agawande commented on #136
Please upload/paste the logs you see in the Android Studio.

[2019-03-22 14:00] aadhitya98 commented on #136
![Screenshot (35)](https://user-images.githubusercontent.com/38691254/54827825-df07fb80-4cd8-11e9-838e-cc4e2b95cca4.png)

This is what I am getting when running the app on my phone.

[2019-03-22 16:08] zedlabs commented on #136
i was getting the same because the image being returned to the OnActivityResult in the mainActivity was null, #96 fixed it for me.

[2019-03-22 21:09] jrandallclark commented on #136
@aadhitya98 I have merged zedlabs' changes. Please try the newest version and let us know if you still have this problem.

[2019-03-22 21:49] #85 closed, assigned to nobody

[2019-03-23 00:21] #77 closed, assigned to nobody

[2019-03-23 00:21] #81 closed, assigned to nobody

[2019-03-23 00:21] #74 closed, assigned to nobody

[2019-03-25 19:41] guy34code opened #140 "Publish the application on F-Droid"
See https://f-droid.org/wiki/page/Inclusion_How-To.

No rush, lets do that only when we move from beta to final.

[2019-03-25 19:53] guy34code opened #141 "Registration Failing For First Time"
**Summary:**

The App shows Register Failed for : /username when registering for the first time.

**Steps to reproduce:**

Fill the details(username and password) and click Register.

**System logs:**

[code]

**Device and Android version:**

Model: Xiaomi MiA1
Android version: Android 9.0 Pie
ROM: Stock ROM

**Screen-shots:**

![WhatsApp Image 2019-03-26 at 1 20 42 AM](https://user-images.githubu

[2019-03-25 20:08] dev-ritik commented on #141
@guy34code please confirm that you have [NFD](https://play.google.com/store/apps/details?id=net.named_data.nfd) app installed in the device and NFD was active.

[2019-03-25 20:15] guy34code opened #142 "Use Layout_weight to prevent overlapping of Images On Home Screen"
**Summary:**

In Preview of activity_main, we could use layout_weight to arrange the icons symmetrically according the Phone's Screen. Right Now, the images may overlap if the screen size is small.

Add logcat files here (if possible).

Instead of this:

android:layout_width="@dimen/margin_178dp"
        android:layout_height="@dimen/margin_205dp"

we could use this

 android:layout_width="@dimen/

[2019-03-25 20:18] guy34code commented on #141
@dev-ritik  Yes, NFD app was Installed and running in background. I even tried it again multiple times, but it shows registration Failed.

[2019-03-26 14:29] guy34code opened #143 "Add Option to Register if Registration fails in first attempt"
**Summary:**

When you fail to register for first time for any reasons, there is not an option to register again, you just have to clear data or reinstall apk to Register again.

**Steps to reproduce:**

If your registration fails and home screen appears, then there is no option to for registration again.

**Device and Android version:**

Model: Xiaomi MiA1
Android: 9.0(Pie)
ROM: Stock ROM

**Scre

[2019-03-26 17:54] guy34code commented on #141
@dev-ritik I figured it out, the problem was with my College Wifi proxy settings. It worked on other wifi and mobile data.

[2019-03-26 17:54] #141 closed, assigned to nobody

[2019-03-27 19:38] jrandallclark opened #145 "Move face.processEvents to a service"
The thread "networkThread" constantly calls face.processEvents while the app is running. This should be moved to a service.

https://redmine.named-data.net/issues/4898

[2019-03-27 20:26] neel1998 commented on #145
@jrandallclark i would like to work on this one.

[2019-03-28 16:54] neel1998 commented on #63
@jrandallclark  I need some guidance for this issue. Since there are lot files created for friends lists, credentials, QR codes etc. Should we convert them all to shared preference. For now I will convert credential files to shared preferences . So login will be completely working with shared preferences. IF you find that correct, we can go ahead for other files as well

[2019-03-28 17:37] jrandallclark commented on #63
Initially, I think simple data that is already stored as integers, strings, etc. can be switched over to using SharedPreferences.

So, I would start by adding things like the user name and friends list to SharedPreferences. Friend keys are stored as text files on the phone's storage and can be added as well.

We can keep saving the QR codes as images for now until we decide what exactly we want to

[2019-03-28 17:41] neel1998 commented on #63
@jrandallclark  thanks for the clarification . Kindly check the PR i just made. If you are fine with the changes I will add other functionalities like friends list and friends key as well to shared preferences

[2019-03-28 19:06] neel1998 commented on #145
@jrandallclark  can you please elaborate on this issue

[2019-03-29 16:09] jrandallclark commented on #145
After looking into this some more, I'm not sure if it's necessary. I posted the issue after reading an old comment from a previous developer.

Since the npChat protocol requires both users to be running the app in order to sync, keeping this as-is is probably for the best.

[2019-03-29 16:11] neel1998 commented on #145
@jrandallclark alright. Still if you find anything which requires fixing this, do let me know.. i will also check once myself. Meanwhile I will be focusing on shared preferences issue, since there is also lot work to be done

[2019-04-01 14:45] neel1998 opened #147 "Use jNDN SegmentFetcher with AIMD pipelining to fetch the photos/files"
**Summary:**
Use jNDN SegmentFetcher with AIMD pipelining to fetch the photos/files

**Would you like to work on the issue?**
yes.
@agawande  Can you please guide me how should I start working on this issue.

[2019-04-01 15:21] agawande commented on #147
Initial pull request has been already made:
https://github.com/named-data/jndn/pull/24/

[2019-04-01 15:37] dev-ritik commented on #147
@neel1998 ,I think you should take up some other new issue as I have made significant progress wrt updating the library and using it in the app. @agawande what's your opinion on this?

[2019-04-01 15:43] agawande commented on #147
Yes, you can continue working on the jNDN pull request as considerable progress has already been made.

[2019-04-01 15:48] neel1998 commented on #147
Sorry @dev-ritik  I wasn't aware you were already working on this issue.

[2019-04-01 15:48] #147 closed, assigned to nobody

[2019-04-03 15:13] #145 closed, assigned to nobody

[2019-04-10 19:08] #133 closed, assigned to nobody

[2019-04-15 20:21] #63 closed, assigned to nobody

[2019-04-19 17:33] #83 closed, assigned to nobody

[2019-06-18 21:31] #2 closed, assigned to nobody

[2019-06-18 21:32] #3 closed, assigned to nobody

[2019-06-18 21:32] #12 closed, assigned to nobody

[2019-06-18 21:33] #26 closed, assigned to nobody

[2019-06-18 21:33] #45 closed, assigned to nobody

[2019-06-18 21:35] #142 closed, assigned to nobody

[2019-06-18 21:35] #136 closed, assigned to nobody

[2019-06-18 21:36] #118 closed, assigned to nobody

[2019-06-18 21:37] #98 closed, assigned to nobody

[2019-06-18 21:37] #94 closed, assigned to nobody

[2019-06-18 21:37] #80 closed, assigned to nobody

[2019-06-18 21:38] #73 closed, assigned to nobody

[2019-06-18 21:38] #71 closed, assigned to nobody

[2019-06-18 21:39] #69 closed, assigned to nobody

[2019-06-18 21:39] #49 closed, assigned to nobody

[2019-06-18 21:50] #116 closed, assigned to nobody

[2019-06-18 21:51] #23 closed, assigned to nobody

[2019-06-18 21:51] #24 closed, assigned to nobody

[2019-12-17 20:41] refactor-droidyy commented on #123
@dev-ritik can I work on this issue.

[2019-12-17 21:00] jrandallclark commented on #123
Thanks for your interest, Rohit! You are welcome to work on this if you like. Please feel free to email me if you have any questions.

[2019-12-18 14:37] refactor-droidyy commented on #123
@jrandallclark Thankyou :)

[2020-01-01 10:06] amitYadavDev commented on #143
@guy34code can i work on this issue?

[2020-01-01 10:08] amitYadavDev commented on #4
can i work on this issue? @ayush4190

[2020-01-01 10:37] amitYadavDev commented on #78
@neel1998 can i work on this issue?

[2020-01-01 10:39] amitYadavDev commented on #97
@shivendra29 can i work on this issue?

[2020-01-02 19:35] jrandallclark commented on #143
You're welcome to work on this issue.
You just need to make sure you understand the steps that are taken at registration, check if they've all been completed correctly, and notify the user/return them to the registration screen if it fails.

Registering creates a public/private key pair in the NDN keychain for that user's username/identity. This needs to be one of the things that is checked. In ca

[2020-01-02 19:37] jrandallclark commented on #4
If you would like to create a mock up of your design ideas, I will be more than happy to look at it.

[2020-01-02 19:38] jrandallclark commented on #78
You may work on this.

[2020-01-02 19:38] jrandallclark commented on #97
You can work on this if you like.

[2020-01-03 07:25] amitYadavDev commented on #4
I'm working on this issue

[2020-01-03 10:48] amitYadavDev commented on #97
@jrandallclark why am i unable to join slack channel. can u provide me any channel link to communicate easily

[2020-01-03 17:23] jrandallclark commented on #97
The NDN GSoC 2020 Slack channel is not yet available. It should be up very soon, but until then, you can email me at jrclark2@memphis.edu if you have any questions.

[2020-01-12 14:21] amitYadavDev commented on #124
can i work on this issue? @jrandallclark

[2020-01-14 04:36] amitYadavDev commented on #143
@jrandallclark now i m working on this issue.

[2020-01-14 05:05] amitYadavDev commented on #143
@jrandallclark there is no option for signup? and replaced register with login. what is database to signup and signin?

[2020-01-14 05:08] amitYadavDev commented on #143
SQLite?

[2020-01-14 05:33] agawande commented on #143
Sqlite is used by NDN Keychain (via jNDN) to store the keys. But you should not have to interact with Sqlite directly iirc. When the app is started for the first time (i.e. no data from previous run), the page it presents is the registration page. There is no sign out once you register (since there is no remote server, everything is in this app) so sign-in does not make sense.

[2020-01-14 07:37] amitYadavDev commented on #143
sir @agawande what are the essential keys to register into app?
it is taking only username and password(there is no restriction in pass or username they can be a letter also, you can see below attachment.
![Screenshot_20200114-130402](https://user-images.githubusercontent.com/45551012/72323414-b3725980-36ce-11ea-8ed7-5dffb7803d7c.png)

[2020-01-14 19:34] jrandallclark commented on #143
This is an NDN app. So the domain is a routeable NDN namespace. Currently, only local communication where both devices are connected to the same router is supported, so anything that doesn't include the string "npChat" will work. As your account is tied directly to your phone at the moment, the password is not currently used for anything.

The fix for this issue would be to check that the user's i

[2020-01-14 19:38] jrandallclark commented on #124
Yes.

[2020-01-14 19:39] #140 closed, assigned to nobody

[2020-01-20 20:41] vibhusharma101 commented on #117
@jrandallclark sir can I work on this issue?

[2020-01-20 20:50] vibhusharma101 commented on #99
@jrandallclark  sir can I work on this issue?

[2020-01-21 12:32] vibhusharma101 commented on #124
@amit6663  can I work on this, If it is still open ?

[2020-01-21 18:32] jrandallclark commented on #99
Yes, you may.

[2020-01-21 18:32] jrandallclark commented on #117
Yes.

[2020-01-24 22:21] chrk2205 opened #173 "Profile Picture's orientation not match to the pic on toolbar."
**Summary:**

After uploading the profile picture the orientation of the picture in page and in the toolbar are not the same.
but after closing the app and opening it again the picture orientation in the Toolbar gets corrected or gets to the same orientation to the picture in the upload page.

1.Uploading the picture:
![1](https://user-images.githubusercontent.com/44704035/73108173-99821380-3f25-1

[2020-01-30 15:54] amitYadavDev commented on #173
can i work on this issue @chrk2205 ?

[2020-02-11 19:44] chrk2205 opened #174 "Back Button in send Friend Request fragment not functioning properly"
summary:
after clicking on the drop down button in sendFriendRequest page the back button and some other buttons in the page are not working properly.

video:
![git](https://user-images.githubusercontent.com/44704035/74273039-be53f480-4d35-11ea-9b38-95874da6f056.gif)

Device:
model:  Oneplus-6

Would you like to work on the issue?

Yes, I would like to work on this issue.

[2020-02-19 19:44] neel1998 opened #175 "Add exact instructions on how to install ndn-cxx dependency"
**Summary:**
Currently README lacks the link to ndn-cxx repo and how to install this library and its dependecny

**Would you like to work on the issue?**
Yes

@jrandallclark adding exact steps to readme would help the new contributors a lot, Since i myself had to struggle a bit

[2020-02-19 19:49] neel1998 opened #176 "Broken boost library package for android-crew"
**Summary:**

The latest version of boost library on https://github.com/named-data-mobile/android-crew-staging/releases 1.70.0 seems broken. Extracting it is giving error.

And hence the following command is failing,

``` CREW_OWNER=named-data-mobile crew.dir/crew install target/boost target/ndn_cxx ```

The earlier version 1.68.0 is working fine.

**Would you like to work on the issue?**
@jrandal

[2020-02-19 20:42] jrandallclark commented on #175
An npChat developer doesn't need to install ndn-cxx. I'm not sure what the purpose of this is. Could you explain?

[2020-02-19 20:46] jrandallclark commented on #176
I'm not having this issue on my system. Are you trying to build NFD Android or PSync?

[2020-02-19 20:59] neel1998 commented on #175
As it is mentioned in the setting up guide of this repo, also doesn't the psync setup require to have ndn-cxx setup. Doesn't Android build fail without setting up psync and ndn-cxx?

[2020-02-19 21:00] neel1998 commented on #176
I was running the command
``` CREW_OWNER=named-data-mobile crew.dir/crew install target/boost target/ndn_cxx ```
And while that it tried to install the 1.70.0 version of boost and it couldn't extract it.

[2020-02-19 21:08] neel1998 opened #177 "Add logout option"
**Summary:**
Currently there is no Logout option once a user logs into the app

**Steps to reproduce:**
N/A

**What did you expect the app to do, and what did you see instead?**
Add Logout option
**Would you like to work on the issue?**
Yes

[2020-02-19 21:11] neel1998 opened #178 "Make orientation of QR code scanner activity portrait"
**Summary:**
Currently the QR code scanner is opening in only landscape mode, which is quite in convenient since rest of the app is working in portrait mode.

**Steps to reproduce:**
Open QR code scanner, from adding friend activity

**Would you like to work on the issue?**
Yes

[2020-02-19 21:12] neel1998 opened #179 "Update the issue/PR template"
**Summary:**
Currently the place holder and instruction text in issue and PR template is as plain text. The palce holder text should be in comments so the contributors don't have to delete it everytime.

**Would you like to work on the issue?**
Yes

[2020-02-19 21:18] jrandallclark commented on #175
Oh, I think I understand. The building instructions might be unclear then. ndn-cxx is the C++ library for NDN. You need it installed on your system to build/run any NDN programs on your PC.

PSync Android and NFD Android are both C++ programs with a JNI wrapper. So you just need to use the crew staging to download the ndn-cxx (and other dependencies) binaries. When PSync is built with gradle, it p

[2020-02-19 21:21] jrandallclark commented on #177
This is a good issue. The only thing to consider is that like other decentralized applications, we don't really want users to have multiple accounts per device. So once a user has registered on the device, they can log in and log out, but not change accounts.

[2020-02-19 21:22] jrandallclark commented on #178
This would be an improvement.

[2020-02-19 21:24] neel1998 commented on #175
Well then I might have spent a lot time fixing the CMake and build errors by self and installing all the ndn-cxx dependency manually. xD. However, it would be good if you could update the readme so other developers don't get confuse.

[2020-02-19 21:25] neel1998 commented on #178
Will make a PR for this soon

[2020-02-19 21:26] jrandallclark commented on #176
I'll test this more thoroughly myself later today or tomorrow. If this is an problem, I'll contact the administrator of the crew staging repo since it doesn't seem that they accept issues.

[2020-02-19 21:26] neel1998 commented on #177
What we can do is, once logged in we can store the credentials in shared pref as they are right now as well. Give option of logging out, but when they log back in, we check the credentials with previously stored ones. Sounds okay?

[2020-02-19 21:28] neel1998 commented on #176
Great. Because i directly downloaded the tar.xz file for boost 1.70.0 and tried extracting it but it failed.

[2020-02-19 21:30] jrandallclark commented on #175
Well, if you ever want to write something on your system that interacts with npChat, you'll need ndn-cxx and NFD anyways. So maybe it was all worth it.

I'll go through the PSync build process myself this week and see how I can simplify the instructions.

[2020-02-19 21:35] neel1998 opened #181 "App version hard coded in the About page"
**Summary:**
Currently the app version is hard coded to "0.0.0" in the about page. However, we can have the version code dynamically changing based on the version code in build.gradle file

**Steps to reproduce:**
Go to about page

**Would you like to work on the issue?**
Yes

[2020-02-19 21:37] neel1998 commented on #175
Yes, indeed and I also enjoy tweaking with software and OS to find a way to make everything work. So it was fun.

Awesome. Let me know if I can help/

[2020-02-19 21:38] jrandallclark commented on #176
![Screenshot_2020-02-19_15-36-21](https://user-images.githubusercontent.com/46690018/74878972-d1feec80-532d-11ea-9203-737ec02bc88a.png)

That's odd. I'm not having that problem.

[2020-02-19 21:40] neel1998 commented on #176
Maybe then it was some issue with my OS. Closing this issue. Thanks.

[2020-02-19 21:40] #176 closed, assigned to nobody

[2020-02-20 05:53] chrk2205 commented on #177
IDEA FOR LOGOUT-
After logout ,In Login page set all credentials  permanently ( which cannot be changed ) except password and the user should enter PASSWORD to Login, with this the user will know that he cannot use a duplicate or second account from the same device.
This will workout the issue.
@neel1998 @jrandallclark

[2020-02-20 12:37] neel1998 opened #184 "App crashes when trying to add file from device"
**Summary:**

In the files screen, after adding a file from local storage, app immediately crashed

**Steps to reproduce:**

1. Go to Files option
2. Select Share files option
3. Select a file from device storage

**System logs:**

[code]
**Device and Android version:**
Samsung M30s (Android 9)

**Screen-shots:**
<img src = "https://user-images.githubusercontent.com/32041242/74934225-b9650400-540b

[2020-02-20 16:45] jrandallclark commented on #184
Honestly, while this bug needs to be fixed, the "Share Files" feature likely needs to be disabled until some sort of stream publishing is added to jNDN (or our app directly, if necessary). Right now the size of a file you can share is limited by your phone's memory. I was working on this some last summer, but got pulled away onto other projects and never finished.

[2020-02-20 16:46] jrandallclark commented on #184
You can fix the problem, but I will likely be disabling the feature. I'll just remove the button, but keep all the code. That way we can reuse it when publishing is fixed.

[2020-02-20 16:50] neel1998 commented on #184
Awesome. For now I think let's just make the button invisible, people don't get confused. Is that okay?

[2020-02-20 17:30] neel1998 opened #185 "Add a tabbed activity as main fragment in the app"
**Summary:**
Currently there are four icons on the home page to open different pages, However this design is not very much sophisticated also restrict addition of more options keeping the UI/UX effecient,

I suggest there should be a tabbed activity as the main page of the app. Something like shown below,

<img src="https://user-images.githubusercontent.com/32041242/74961682-79fedd80-5434-11ea-9ea

[2020-02-20 17:38] chrk2205 commented on #185
This improvement  was already mentioned in the issue-53
https://github.com/named-data-mobile/ndn-photo-app/issues/52

@neel1998

[2020-02-20 18:16] neel1998 commented on #185
#52 mentioned bottom navBar, i think a top nav bar would be a better design option in terms of user experience. Thanks

[2020-02-21 18:02] #181 closed, assigned to nobody

[2020-02-21 18:02] #179 closed, assigned to nobody

[2020-02-21 18:03] #178 closed, assigned to nobody

[2020-03-18 09:46] NullByte08 commented on #185
Is this repository still included in GSoC? Can I work on it? In the Project Ideas page of NDN link to this repo was given https://github.com/agawande/psync-android (which doesn't seem right) for npChat.
How do I contact the mentors, there is no contact information available. There is no invitation link for Slack channel also.

[2020-03-18 10:10] NullByte08 commented on #185
@neel1998 @jrandallclark

[2020-03-18 14:33] jrandallclark commented on #185
Thank you for your interest. However, this project is not a part of GSoC this year.

[2021-08-11 07:15] dumblob commented on #177
Some questions for thought:

1. What if the user loses her password and creates a new account?

2. What actually happens to credentials if someone reinstalls the application (e.g. because of selling the phone to someone else)?

3. What if the user deliberately wants to use more identities (to separate security domains, etc.)? (admittedly I have no idea why would anyone want to have just one accoun